* {
  margin: 0;
  padding: 0;
}

.container {
  height: 100%;
  width: 1200px;
}

.header .menu ul {
  display: flex;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  line-height: 1;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header .menu ul {
  font-size: 17.5px;
  display: flex;
  list-style: none;
}

.header .menu ul li {
  transition: 0.15s;
  margin: 40px 25px;
}

.header .menu ul li:hover {
  transition: 0.15s;
  transform: scale(1.1);
}

.header .menu ul a {
  transition: 0.15s;
  text-decoration: none;
  font-weight: bold;
  color: rgb(22, 22, 22);
}

a {
  text-decoration: none;
}

.header .menu ul a:hover {
  transition: 0.15s;
  color: rgb(27, 185, 106);
}

.logo {
  margin-left: 25px;
  transition: 0.2s;
}

.logo:hover {
  transition: 0.4s;
  transform: rotate(-180deg) scale(1.2222);
}

.lupa {
  padding: 2px;
}

.main {
  width: 100vw;
  height: 100vh;
  background-image: url("img/pexels-photo-356056.png");
}

.home {
  margin-top: 95px;
  position: absolute;
  width: 100vw;
  height: 90vh;
  background: url(img/pexels-photo-356056.png);
  background-size: cover;
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.705) inset;
}

.heading__home {
  font-size: 60px;
  letter-spacing: 3px;
  line-height: 22px;
  color: #ffffff;
  font-weight: 600;
  text-align: center;
}

.heading__extra {
  margin: 50px;
  font-size: 22px;
  letter-spacing: 1px;
  line-height: 22px;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
}

.info {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button__service,
.button__now {
  margin: 30px;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 22px;
  color: #ffffff;
  font-weight: 600;
  text-align: center;
  width: 220px;
  height: 70px;
  background-color: #ffffff00;
  border-radius: 11.11px;
}

.button__now a,
.button__service a {
  color: #ffffff;
  padding: 10px;
}

.button__now {
  background-color: #00897b;
  border: none;
}

.button__service {
  border: 4px solid #f8f8f8;
}

.arrow {
  position: absolute;
  bottom: 50px;
  font-size: 25px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}
